/* ----- HEADER ----- */
.header {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #eee;
    -fx-padding: 10;
}

.header-title-box {
    -fx-padding: 10;
}

.header-label {
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.search-bar {
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-color: #cccccc;
    -fx-border-radius: 25;
    -fx-border-width: 1.5;
    -fx-padding: 10 20 10 10;       
    -fx-font-size: 15px;
    -fx-pref-height: 50px;
    -fx-pref-width: 400px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3);
}

.search-bar:focused {
    -fx-border-color: #27ae60;       
    -fx-border-width: 2;
}

.search-bar .text-field {
    -fx-background-color: transparent;
}

.search-icon {
    -fx-fill: #888888;
}


/* ----- SIDEBAR ----- */
.sidebar {
    -fx-background-color: #eee;
    -fx-padding: 10;
}

.sidebar-title {
    -fx-background-color: #333;
    -fx-padding: 10;
}

.sidebar-title-label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.sidebar-content {
    -fx-background-color: #ccc;
    -fx-padding: 10;
}

/* Total price box */
.total-box {
    -fx-background-color: #333;
    -fx-padding: 10;
}

.total-label {
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

/* Checkout button */
.checkout-btn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

/* ----- CONTENT GRID ----- */
.grid-pane {
    -fx-padding: 10;
}
